In [1]:
#Load libraries
import pandas as pd

#Import data
data = pd.read_csv("gtd.csv")

In [2]:
#Some Exploratory Data Analysis

print("Year with the highest number of attacks: ", data['year'].value_counts().idxmax())
print("Month with the highest number of attacks:", data['month'].value_counts().idxmax(),"(May)")
print("Country with the highest number of attacks: ", data['country'].value_counts().idxmax())
print("Region with the highest number of attacks: ", data['region'].value_counts().idxmax())
print("State with the highest number of attacks: ", data['state'].value_counts().idxmax())
print("Success rate: ", round((data['success'].sum()/data['success'].count())*100, 2),"%")
print("Rate of suicide attack: ", round((data['suicide'].sum()/data['suicide'].count())*100, 2),"%")
print("Trending attack type: ", data['attacktype'].value_counts().idxmax())
print("Trending target type: ", data['targettype'].value_counts().idxmax())
print("Target Nationality: ", data['tar_nationality'].value_counts().idxmax())
print("Organization: ", data['organization'].value_counts().idxmax(), "-> Most attacks are unclaimed")
print("Civilian casuality: ", data['nkill'].sum())
print("Terrorist casuality: ", data['nkillter'].sum())
print("Wounded civilians: ", data['nwound'].sum())
print("Wounded terrorists: ", data['nwoundter'].sum())

Year with the highest number of attacks:  2014
Month with the highest number of attacks: 5 (May)
Country with the highest number of attacks:  Iraq
Region with the highest number of attacks:  Middle East & North Africa
State with the highest number of attacks:  Baghdad
Success rate:  88.96 %
Rate of suicide attack:  3.65 %
Trending attack type:  Bombing/Explosion
Trending target type:  Private Citizens & Property
Target Nationality:  Iraq
Organization:  Unknown -> Most attacks are unclaimed
Civilian casuality:  411868.0
Terrorist casuality:  58291.0
Wounded civilians:  523869.0
Wounded terrorists:  12061.0

In [63]:
#data['casuality'] = data['nkill'] + data['nwound']
#data['casualityus'] = data['nkillus'] + data['nwoundus']

#data.to_csv('gtd1.csv')
#data.head()

,eventid,year,month,day,country_id,country,region_id,region,state,city,...,weapon_id,weapon,nkill,nkillus,nkillter,nwound,nwoundus,nwoundter,casuality,casualityus
0,201612150072,2017,1,2,4,Afghanistan,6,South Asia,Kandahar,Takhta Pul,...,5,Firearms,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201612270022,2017,1,3,195,Sudan,11,Sub-Saharan Africa,South Darfur,Fantaga,...,5,Firearms,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
2,201612280045,2017,1,1,229,Democratic Republic of the Congo,11,Sub-Saharan Africa,Ituri,Saboko,...,9,Melee,7.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
3,201612280046,2017,1,1,229,Democratic Republic of the Congo,11,Sub-Saharan Africa,Ituri,Bialee,...,9,Melee,7.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
4,201701010001,2017,1,1,209,Turkey,10,Middle East & North Africa,Istanbul,Istanbul,...,5,Firearms,39.0,0.0,0.0,69.0,1.0,0.0,108.0,1.0

In [3]:
print("Highest casuality: ", data['casuality'].value_counts().max())

Highest casuality:  63297